* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lilita One', cursive;
}


.echo{
  color: #F1D7FF;
}

/*tela login*/

.main-login{
    display: flex;
}


.esquerda {
  width: 50vw;
  height: 100vh;
  background-color: #607EC9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
    width: 24vw;
}

.direita {
  width: 50vw;
  height: 100vh;
  padding: 4px;
  background-color: #062863;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.formulario-login {
  background-color:#607EC9;
  border: 4px solid #3454b4; 
  padding: 30px 40px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 20vw;
}

.formulario-login form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formulario-login label {
  color:#F1D7FF;
  font-size: 1rem;
  font-size: 20px;
}

.caixa-input{
  border: 4px solid #062863;
  background-color: #607EC9;
  padding: 12px;
  border-radius: 15px;
  font-size: 1rem;
  outline: none;
}

.caixa-input::placeholder{
    color:#3454b4;
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-login{
    padding: 6px;
    margin: 6px;
    background-color: #3454b4;
    color: #F1D7FF;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    border: 4px solid #062863;
    min-width: 4vw;
    height: 5vh;
}

.link-cadastro {
  color: #062863;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  text-decoration: none;
}

.echo{color: #062863;
  font-size: 30px;
  padding: 12px;
}

/*tela de cadastro*/


.main-cadastro{
    display: flex;
}


.esquerda {
  width: 50vw;
  height: 100vh;
  background-color: #607EC9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
    width: 24vw;
}

.direita {

  min-width: 50vw;
  min-height: 100vh;
  background-color: #062863;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.formulario-cadastro {
  background-color:#607EC9;
  border: 4px solid #3454b4; 
  padding: 20px 40px;
  margin: 10px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 20vw;
}

.formulario-cadastro form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formulario-cadastro label {
  color:#F1D7FF;
  font-size: 1rem;
  font-size: 20px;
}

.caixa-input{
  border: 4px solid #062863;
  background-color: #607EC9;
  padding: px;
  border-radius: 15px;
  font-size: 1rem;
  outline: none;
}

.caixa-input::placeholder{
    color:#3454b4;
}

.botao-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    margin: 6px;
    background-color: #3454b4;
    color: #F1D7FF;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    border: 4px solid #062863;
    min-width: 4vw;
    height: 5vh;
}


.link-login {
  color: #062863;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.echo{color:#F1D7FF
}



/*tela ínicial*/

.painel{
  background-color:#062863
  }

.navbar{
  background-color: #607EC9;
  display: flex;
  justify-content:space-around;
  padding: 12px;
  margin: 14px 12px ;
  border-radius: 10px;

}  

.link{
  text-decoration: none;
  color: #F1D7FF;
}

.caixa-painel{
  background-color: #607EC9;
  display: flex;
  flex-wrap: nowrap; 
  flex-direction: column;
  align-items: center;
  padding: 8px;
  margin: 14px 12px ;
  border-radius: 10px;
  
}

.caixa-painel p{
  color: #F1D7FF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  font-size: 20px;
}


.caixa-imovel{
    border-radius: 10px;
    background-color: #062863;
    padding: 10px;
    margin: 20px;   
    font-size: 20px; 
}

.caixa-link-imovel{
  display: flex;
  justify-content: center;
  padding: 20px;

}

.footer {
    background-color: #607EC9;
    padding: 20px;
    color: #F1D7FF;
    text-align: center;
    height: 65vh;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.footer-logo {
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo img {
    width: 100px;
    margin-bottom: 10px;
}

.footer-links,
.footer-social {
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
}

.footer-links a,
.footer-social a {
    margin: 6px 0;
    color: #F1D7FF;
    text-decoration: none;
    font-size: 20px;
}

.footer-links a:hover,
.footer-social a:hover {
    text-decoration: underline;
}


/*Página anúncio*/

.anuncio{
  background-color: #062863;
}

.formulario-anuncio form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #607EC9;
  border-radius: 20px;
  margin: 12px;
}

.campo-formulario {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.campo-formulario label {
  color: #F1D7FF;
}

.caixa-anuncio {
  padding: 12px;
  border-radius: 12px;
  border: 3px solid #062863;
  background-color: #607EC9;
  color: #062863;
}

.botao-a{
  grid-column: 2 / 3;
  justify-self: center;
  margin-top: 10px;
}

.botao-anuncio{
  padding: 6px;
  margin: 6px;
  background-color: #3454b4;
  color: #F1D7FF;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  border: 4px solid #062863;
  min-width: 4vw;
  height: 5vh;
}

/*Página de compra*/

.main-compra{
  background-color: #062863;
}

.main-compra p {
  font-size: 20px;
  padding: 50px;
}




/*Página de busca*/

.main-buscar{
  background-color: #062863;
}

.main-buscar p {
  font-size: 20px;
  padding: 50px;
}

/*Página conta*/

.main-conta{
  background-color: #062863;
}

.tabela, th, td{
    padding: 10px;
    text-align: left;
    color: #F1D7FF;
    border: 1px solid #3454b4;
    background-color: #607EC9;
    font-size: 30px;
}


.tabela-conta{
  margin: 40px 12px;
  display: flex;
  justify-content: center;
}

.tabela-conta a{
  text-decoration: none;
}

.main-editar {
  background-color: #062863;
  border-radius: 12px;
  border: 2px solid #062863;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: auto;
}

.editar {
  background-color: #062863;
  color: #F1D7FF;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  
}


.editar form{
  background-color: #607EC9;
  padding: 12px;
  border-radius: 20px;
  width: 300px;
}

.input-editar{
  border: 4px solid #062863;
  background-color: #607EC9;
  padding: px;
  border-radius: 15px;
  font-size: 1rem;
  outline: none;
  margin: 8px;
  padding: 4px;
  color: #062863;
}


.botao-editar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    margin: 6px 1px 8px 100px;;
    background-color: #3454b4;
    color: #F1D7FF;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    border: 4px solid #062863;
    min-width: 4vw;
    height: 5vh;
}

/*pagina editar imovel*/

.main-imovel{
  background-color: #062863;
}

.main-imovel form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #607EC9;
  border-radius: 20px;
  margin: 12px;
}

.editar-imovel  {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #607EC9;
  border-radius: 20px;
  margin: 12px;
  padding: 10px;
  flex-wrap: wrap;
  min-width: 30px;

}

.editar-imovel label {
  color: #F1D7FF;
  font-size: 20px;
}

.input-editar-imovel {
  padding: 10px;
  width: 30vw ;
  border-radius: 12px;
  border: 3px solid #062863;
  background-color: #607EC9;
  color: #062863;
  display: flex;
  flex-direction: column;
  margin: 12px;
  justify-content: space-between;
  font-size: 20px;
}

.botao-editar-imovel{
  padding: 6px;
  margin: 28px;
  background-color: #3454b4;
  color: #F1D7FF;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  border: 4px solid #062863;
  min-width: 4vw;
  height: 5vh;
}


